@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggedOut</title>
</head>
<body>
    <div>
        <iframe src="https://shibidp.wsu.edu/idp/logout.jsp" frameborder="0" height="0" width="0"></iframe>
        <iframe src="https://signin.my.wsu.edu/pls/orasso/orasso.wwsso_app_admin.ls_logout?p_done_url=https://my.wsu.edu/pls/portal/PORTAL.home" frameborder="0" height="0" width="0"></iframe>
        <iframe src="https://adfs.wsu.edu/adfs/ls/?wa=wsignout1.0" frameborder="0" height="0" width="0"></iframe>
        <iframe src="https://sts.wsu.edu/adfs/ls/clientlogon.aspx?wa=wsignout1.0" frameborder="0" height="0" width="0"></iframe>
    </div>
</body>
</html>