@{
    ViewBag.Title = "Index";
}



<div style="margin: 5% 0 0 0; width: 100%;">
    <div style="text-align:center;">
        <img src="/File/FindByName/HomeHeader" style="max-width:800px" />
    </div>
    
    <hr style="color:crimson;" />
    @(Html.Raw(ViewData["Source"]))
</div>


