
@{
    ViewBag.Title = "PrivacyPolicy";
}

<div style="margin:20px;">
    <h1>Privacy Policy</h1>

    <h2>Summary</h2>

    <p>
        The PICOL web application and associated web and technology tools make use of cookies, web beacons (or pixels), analytics tools, and application logs to track and aggregate usage.  Analytics and usage tracking are not
        intended to uniquely identify visitors.
    </p>

    <p>
        Within PICOL visitors can create online accounts.  In creating an account your are providing the following personal information:
    </p>

    <ul>
        <li>email address</li>
        <li>first name</li>
        <li>last name</li>
        <li>account password.</li>
    </ul>

    <p>
        When you create and use your PICOL account your account utilization is tracked in addition to the analytics and usage described above.  This includes IP address, login dates and times, searches, and site traversal.
        In addition to the personal information provided for account creation, you can optionally configure search default preferences, save searches, and configure search result layout options.
    </p>

    <p>
        This information is used to provide you the search services of PICOL, and to provide support and administration of your account.  Your account utilization data is accessible by you under the account
        options menu, and you have the option to purge utilization records associated with your account.  Note that purging this data may diminish our ability to provide troubleshooting or support.
    </p>

    <h2>Full Policies</h2>

    <p>
        The privacy policies governing the handling of data collected by PICOL are the following:
    </p>

    <ul>
        <li>
            <a href="https://policies.wsu.edu/privacy-policy/" target="_blank">WSU Privacy Policy</a>
        </li>

        <li>
            <a href="https://privacy.cahnrs.wsu.edu" target="_blank">CAHNRS Privacy Policy</a>
        </li>
    </ul>
</div>