<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="<ConnectionName>" connectionString="Data Source=<server path>;Initial Catalog=<database name>;Persist Security Info=True;User ID=<username>;Password=<password>" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
  </connectionStrings>

  <appSettings>
    <add key="LogoutUrl" value="https://localhost/Message/LoggedOut" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="VerificationUrl" value="http://localhost/NewAccount/Verify" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ResetUrl" value="http://localhost/Session/Reset" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecureCookie" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ValidateSsl" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Production" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="WSU to CAHNRS subdomain rewrite" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <action type="Redirect" url="https://localhost/{R:0}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^dev-picol.wsu.edu$" />
          </conditions>
        </rule>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="Off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>